<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<p> <a href="localhost:8080/add_router">Add router</a></p>
<p> <a href="localhost:8080/update_route">Update router</a></p>
<p> <a href="localhost:8080/delete_route">Delete router</a></p>
<p><a href="localhost:8080/update_route_on_ip">update route Based on ip</a></p>
<p><a href="localhost:8080/ListRouteSapID">List router based on sapid</a></p>
<p><a href="localhost:8080/ListIPRange">List router based on IpRange</a></p>
<p><a href="localhost:8080/delete_route_IP">Delete router based on ip</a></p>

</body>
</html>